body {
  font-family: "Myriad Pro", helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  background: #fff;
  line-height: 1.3; }

.container {
  max-width: 1180px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.header {
  background: #ffffff; }

.header__logo::before {
  content: "";
  display: block;
  background: #63c6ae;
  height: 72px;
  width: 72.2%;
  position: absolute;
  top: 0;
  right: 154px; }

.header__logo {
  background: url(../images/Infusion_logo.png) 1px 27px no-repeat;
  background-color: #63c6ae;
  padding: 36px 77px;
  display: inline-flex;
  position: relative; }

.header__btn {
  position: absolute;
  display: inline-block;
  font-size: 49px;
  padding: 11px 18px 12px 87px;
  right: 0;
  top: 0;
  color: black; }
  @media screen and (min-width: 947px) {
    .header__btn {
      display: none; } }

.header__menu:focus .navigation__menu,
.header__menu:active .navigation__menu,
.header__menu:hover .navigation__menu {
  display: block; }
  @media screen and (min-width: 947px) {
    .header__menu:focus .navigation__menu,
    .header__menu:active .navigation__menu,
    .header__menu:hover .navigation__menu {
      display: inline; } }

.header__menu {
  float: right;
  display: inline-flex;
  padding: 36px 33px 36px 87px; }
  @media screen and (min-width: 947px) {
    .header__menu {
      padding: 0;
      display: inline;
      float: none; } }

.navigation__menu {
  display: none;
  padding: 0;
  position: absolute;
  right: 0;
  background: #cee;
  top: 72px;
  z-index: 99; }
  @media screen and (min-width: 947px) {
    .navigation__menu {
      position: relative;
      top: 0;
      display: inline;
      background: transparent; } }

.navigation__menu .navigation__item {
  padding: 26px 23px;
  text-transform: uppercase;
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  color: #586165;
  display: block; }
  @media screen and (min-width: 947px) {
    .navigation__menu .navigation__item {
      display: inline;
      padding: 26px 2%; } }

.navigation__item:hover,
.navigation__item:focus,
.navigation__item:active {
  color: #63c6ae; }

.banner {
  text-align: center;
  background: url(../images/banner_img.jpg) 46% 32% no-repeat;
  padding: 18% 0 12%; }

.banner__title {
  color: white;
  font-size: 18px;
  background: #63c6ae;
  display: inline-block;
  padding: 31px 72px;
  font-family: "Sintony", sans-serif;
  text-transform: uppercase; }

.banner__title .title__text {
  font-weight: 400; }

.banner__info {
  display: inline-block;
  color: white;
  font-family: "Sintony", sans-serif;
  padding: 35px 46px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  background: #242a2c;
  margin-top: 15px; }

.banner__btn {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  border-radius: 3px;
  color: #FFFFFF;
  text-align: center;
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background: transparent;
  border: 2px solid #fff;
  padding: 13px 21px; }

.post__wrap {
  position: relative;
  padding: 40px 0 103px; }

.post__wrap::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 49%;
  z-index: 24;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 26px 30px 26px;
  border-color: transparent transparent #ffffff transparent; }

.post__image {
  display: block; }

.post__image .image__img {
  width: 100%;
  height: auto;
  display: block; }

.post__avatar {
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  border: 4px solid #f8f8f8;
  overflow: hidden;
  top: -60px;
  left: 35%;
  position: relative; }

.post__avatar .avatar__img {
  width: 100%;
  height: auto;
  max-width: 80px; }

.post__title {
  padding: 0 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
